spring:
  application:
    name: telemetry-service

server:
  port: 8080

mqtt:
  broker-url: tcp://localhost:1883
  client-id: telemetry-service
  topic: telemetry/#
  qos: 1

influxdb:
  url: http://localhost:8086
  token: your-influxdb-token
  org: your-organization
  bucket: telemetry
  measurement-name: device_telemetry

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      show-components: always
    metrics:
      enabled: true
    info:
      enabled: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  show-actuator: true

logging:
  level:
    com.example.telemetryservice: INFO
    org.springframework.boot.actuate: INFO